h1{
    color:green;
    text-decoration: underline;
}
@media (min-width:600px) {
    nav {
      float: left;
      width: 25%;
    }
    section {
        margin-left: 25%;
      }
  }
  @media (max-width:599px) {
    nav li {
      display: inline;
    }
  }
p{
    color: red;
    font-size:2em;
    font-weight: bold;
}
h3{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
input[type=button] {  
     background-color: #4CAF50;  
     border: none;  
     color: white;   
     padding: 16px 32px;   
     text-decoration: none;   
     margin: 4px 2px;
     cursor: pointer;   
    }
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}
#div1 {
    background-color: red;
}
div.static {
    position: static;
    border: 3px solid #73AD21;
} 
body {
    background-color: coral;
}
a{
    color:purple;
}
